@import "tailwindcss";

@theme {
  --font-sans: "Baloo 2", Arial, sans-serif;
}

:root {
  --green-primary: #A7DE93;
  --green-secondary: #61B543;
  --red-primary: #EB7470;
  --white-primary: #FFFFFF;
  --white-secondary: #FFFDEF;
  --black: #000000;
}

* {
  font-family: var(--font-sans) !important;
}

body {
  font-family: var(--font-sans);
}



button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  transition: border-color 0.25s;
}